# Server
NODE_ENV=// either development or prod
PORT=// the port you wanna run the backend on

# DB File
DB_FILE=favorites.json // the name of the file to save the ids of the favorite to

# Coin Gecko API key
COINGECKO_API_KEY=// go on https://www.coingecko.com/en/api/pricing#subscribe-free-button login and create yourself an API key

# Client
CLIENT_URL=// the url on which your front connects